<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HrtzSysInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HrtzSysInfo.Properties.Settings>
            <setting name="PollingRate_DateTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PollingRate_Cpu" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PollingRate_Ram" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PollingRate_Drives" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="Formatting_Date" serializeAs="String">
                <value>dddd dd.MM.yyyy</value>
            </setting>
            <setting name="Formatting_Time" serializeAs="String">
                <value>HH:mm</value>
            </setting>
            <setting name="Ui_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ui_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PollingRate_Week" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="NetworkUpMaxValue" serializeAs="String">
                <value>4089446</value>
            </setting>
            <setting name="NetworkDownMaxValue" serializeAs="String">
                <value>13631488</value>
            </setting>
            <setting name="PollingRate_Temp" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PollingRate_Network" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SectionVisibility_Network" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionVisibility_System" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionVisibility_Drives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionVisibility_DateTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuTempMaxValue" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="GpuTempMaxValue" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Ui_Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PollingRate_InternalIp" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="PollingRate_ExternalIp" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="Ui_ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ui_ExecuteAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </HrtzSysInfo.Properties.Settings>
    </userSettings>
</configuration>